<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--add key="EH_FQDN" value="pariskafka.servicebus.windows.net:9093"/-->
    <add key="EH_FQDN" value="eh2ehtesting.servicebus.windows.net:9093"/>
    <!--add key="EH_CONNECTION_STRING" value="Endpoint=sb://pariskafka.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=oK1oe0Njv0MxlLawDCMXwb3Y8OK/20flxcvBTVze9qs="/-->
    <add key="EH_CONNECTION_STRING" value="Endpoint=sb://eh2ehtesting.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=IS435QyA5LdieHUQAYmVQ4bSMfBvfu24kCDuX5irjfg="/>
    <!--add key="EH_NAME" value="topic-aa"/-->
    <add key="EH_NAME" value="kafkatest32"/>
    <add key="CONSUMER_GROUP" value="javaconsumer"/>
    <add key="CA_CERT_LOCATION" value="./cacert.pem"/>
  </appSettings>
</configuration>

